#!/bin/bash

NAME="{{ application_name }}"

SERVERDIR={{ backend_api_dir }} 
USER={{ gunicorn_user }}
PORT={{ gunicorn_port }}
IP=127.0.0.1:$PORT
GROUP={{ gunicorn_group }}
NUM_WORKERS={{ gunicorn_num_workers }}
WSGI_MODULE=server

source {{ virtualenv_path }}/bin/activate
# Activate the virtual environment
cd $SERVERDIR

# Start your Django Gunicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)

exec gunicorn ${WSGI_MODULE}:app \
 --name $NAME \
 --workers $NUM_WORKERS \
 --user=$USER --group=$GROUP \
 --log-level=debug \
 --bind=$IP \
 --log-file=-