#!/bin/bash

NAME="{{ application_name }}" # Name of the application

DJANGODIR={{ project_path }} # Django project directory
USER={{ gunicorn_user }}
PORT={{ gunicorn_port }}
IP=127.0.0.1:$PORT
GROUP={{ gunicorn_group }}
NUM_WORKERS={{ gunicorn_num_workers }}
DJANGO_SETTINGS_MODULE={{ django_settings_file }}
DJANGO_WSGI_MODULE={{ application_name }}.wsgi

source {{ virtualenv_path }}/bin/activate
# Activate the virtual environment
cd $DJANGODIR
echo `pwd`

export SECRET_KEY="{{ django_secret_key }}"
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

# Start your Django Gunicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)

exec gunicorn ${DJANGO_WSGI_MODULE}:application \
 --name $NAME \
 --workers $NUM_WORKERS \
 --user=$USER --group=$GROUP \
 --log-level=debug \
 --bind=$IP \
 --log-file=-